header.site  {
    background: transparent url(/images/background2.png) 0 0 repeat-x fixed;
    padding-bottom: 100;
}

header.site .subtitle {
  font-family: 'Marcellus SC', cursive;
  font-size: 1.2rem;
  padding-bottom: 10px;
  padding-top: 10px;
}


header .both-titles{
  opacity: 0.95;
  background-color: white;
}

.subtitle span{
  background-color: white;
  opacity: 0.9;
}

footer.site  {
    background: transparent url(/images/background2.png) 0% 100% repeat-x fixed;
}
.note {
  background-color: #c9daf8;
  padding: 10px;

}
.rule {
  background-color: #fce5cd;
  padding: 10px 10px 10px 30px;
  margin-bottom: 10px;
}
.rule .rule-title{
  font-family: Gill Sans, Verdana;
  font-size: 11px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}
.panel {
  background-color: #fce5cd;
}

.series-explanation{
  background-color: #EA7C36;
  padding: 20px;
font-family: 'Open Sans', sans-serif; 
font-size: 15px; font-weight: 400; line-height: 24px;
}
